@charset 'utf-8';
#main-visual-wrap{min-width:1240px;overflow:hidden}
/* #main-visual-wrap .main-visual-list li:nth-child(1),#main-visual-wrap .main-visual-list li:nth-child(2){display: none;} */
#main-visual-wrap .main-visual-list{position: relative;height: 590px;margin-bottom: 60px;}

#main-visual-wrap .main-visual-list li .img-content{min-width:1240px;}
#main-visual-wrap .main-visual-list li .img-content img{width: 100%;}
#main-visual-wrap .main-visual-list li .txt-wrap{max-width: 1260px;-height: 230px;position: relative;padding-top: 30px;left: 240px;top: -155px;}
#main-visual-wrap .main-visual-list li .txt-wrap > .txt-content{position: absolute;bottom: 250px;left: 107px;font-size: 40px;color: #fff;
/* text-shadow:2px 2px 6px #000; */opacity: .8;
}
#main-visual-wrap .main-visual-list li.thrd-child .txt-wrap > .txt-content{bottom: 313px;}
#main-visual-wrap .main-visual-list li .txt-wrap span a:hover img{/* display: none; */background:url(../images/main/detail-btn-hover.png) 0 0 no-repeat;}
#main-visual-wrap .main-visual-list li .txt-wrap > .btn-more{width: 160px;_height: 38px;}
#main-visual-wrap .main-visual-list li .txt-wrap > .btn-more > a{width: 160px;_height: 38px;font-size: 15px;color: #fff;
line-height: 38px;display: inline-block;border: 1px solid #fff;background: rgba(255,255,255,0) ;
position: absolute;bottom: 174px;left: 114px;text-align: center;}
#main-visual-wrap .main-visual-list li .txt-wrap > .btn-more > a:hover{background-color: #0068d4;color: #fff;border: none;}

.bx-wrapper{box-shadow:none;border: none;margin-bottom: 0;min-width:1260px;overflow:hidden}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{position: absolute;bottom:74px;_background:red;text-align:center;width:200px;left:50%;transform:translateX(-50%);}
.bx-wrapper .bx-pager.bx-default-pager a{width: 15px;height: 15px;background-color: #fff;-ms-border-radius: 50%;border-radius: 50%;}
.bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link.active{background-color: #aa9965;border: 1px solid #fff;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{width: 15px;height: 15px;position: absolute;bottom: 79px;left: 55%;}
.bx-wrapper .bx-controls-auto .bx-start{width: 15px;height: 15px;background: url(../images/main/play-btn.png) 0 0 no-repeat;}
.bx-wrapper .bx-controls-auto .bx-stop{width: 15px;height: 15px;background: url(../images/main/pause-btn.png) 0 0 no-repeat;}

#main-content-1{width: 1260px;margin: 0 auto;margin-bottom: 80px;}
#main-content-1 .con-title{margin-bottom: 32px;overflow: hidden;}
.tit-wrap{float: left;position: relative;left: 2px;}
.tit-wrap h3{font-size: 18px;letter-spacing: 1px;padding-left: 95px;font-weight: normal;padding-right: 15px;line-height: 36px;}
.tit-wrap h3:before{position: absolute;top: 18px;left: 0;content:"";width: 82px;height: 1px;background: url(../images/main/con-tit-bdline.png) 0 0 no-repeat;}
.icon-wrap img{padding-left: 0;}

.contents-wrap-1{width: 1260px;}
ul.contents-wrap-1:after{content:"";display: block;clear: both;}
ul.contents-wrap-1 li{float: left;}
ul.contents-wrap-1 li .con1-txt-wrap{width: 396px;min-height:93px;border: 1px solid #ccc;padding-top: 15px;text-align: right;padding-right: 10px;}
ul.contents-wrap-1 li:nth-child(2){padding:0 36px;}
ul.contents-wrap-1 li .con1-txt-wrap h4{margin-bottom: 5px;font-weight: bold;}
ul.contents-wrap-1 li .con1-txt-wrap p{color: #777;}


#main-content-2{width: 1260px;margin: 0 auto;}
#main-content-2 .tit-wrap{left: 2px;}
#main-content-2 .icon-wrap img{padding-left: 40px;}
#main-content-2 .con-title{margin-bottom: 32px;}
.contents-wrap-2{overflow: hidden;}
ul.contents-wrap-2 li{float: left;height: 280px;}
ul.contents-wrap-2 li.content-wrap > .inner-content-2{width: 500px;height: 280px;border: 1px solid #ccc;}
ul.contents-wrap-2 li.content-wrap > .inner-content-2 + li{width: 200px;}
